<section class="sec">
  <div class="wrap">
    <article class="post-article">
      <img src="https://s3.amazonaws.com/webflow-prod-assets/6ac1539dd172eb63b02331f3/6ac15b8c7d68e43d43892dae_where-should-i-start.jpg" alt="Small pavilion on a mountain ridge above a sea of clouds" class="post-cover"/>
      
      <div class="post-end">
        <div class="pause"><div class="pause-core"></div></div>
        <p class="pause-text">Pause here for a breath before you go on.</p>
        <div class="byline"><div class="avatar">AM</div><div><div class="byline-name">Andrew McCart, PhD</div><div class="byline-role">Senior Instructor, Healing Tao</div></div></div>
        <div class="post-topics"><div class="post-topic-src">Healing practices</div><div class="post-topic-src">Organs</div><div class="post-topic-src">Breath</div></div>
        <a href="/blog" class="btn-outline">Back to the blog</a>
      </div>
    </article>
  </div>
</section>